
.scene > figure.root figure.interactive:hover > .tooltip {
    opacity: 0.8;
    
    &:hover {
        opacity: 0;
        pointer-events: none;
    }
}

.scene > figure.root .tooltip {
    width: fit-content;
    padding: 5px;
    opacity: 0;
    border-radius: 5px;
    background: #222;
    
    font-size: 1em;
    color: white;
    transition: opacity 0.2s;
}
